.env
docker-compose.override.yml

matomo/logs/*
!matomo/logs/.gitkeep
matomo/config/*
!matomo/config/.gitkeep

proxy/certbot/*
!proxy/certbot/.gitkeep

database/data/*
!database/data/.gitkeep

grafana/storage/*
!grafana/storage/.gitkeep
