version: "3"

services:
  matomo:
    image: matomo:fpm-alpine
    restart: always
    volumes:
      - ./matomo/config:/var/www/html/config:rw
      - ./matomo/logs:/var/www/html/logs
      - matomo:/var/www/html
    environment:
      - PHP_MEMORY_LIMIT=2048M
      - MATOMO_DATABASE_HOST=${DB_HOST}:${DB_PORT}
      - MATOMO_DATABASE_ADAPTER=${MATOMO_DATABASE_ADAPTER}
      - MATOMO_DATABASE_TABLES_PREFIX=${MATOMO_DATABASE_TABLES_PREFIX}
      - MATOMO_DATABASE_USERNAME=${MATOMO_DATABASE_USERNAME}
      - MATOMO_DATABASE_PASSWORD=${MATOMO_DATABASE_PASSWORD}
      - MATOMO_DATABASE_DBNAME=${MATOMO_DATABASE_DBNAME}
  
  grafana:
    image: grafana/grafana-oss:8.3.4
    restart: always
    user: "${GRAFANA_CONTAINER_UID}:${GRAFANA_CONTAINER_GID}"
    expose:
      - 3000
    environment:
      - GF_DATABASE_HOST=${DB_HOST}:${DB_PORT}
      - GF_DATABASE_USER=${GRAFANA_DATABASE_USERNAME}
      - GF_DATABASE_PASSWORD=${GRAFANA_DATABASE_PASSWORD}
      - GF_DATABASE_NAME=${GRAFANA_DATABASE_DBNAME}
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_ADMIN_PASSWORD}
      - GF_SECURITY_ADMIN_USER=${GRAFANA_ADMIN_USERNAME}
      - GRAFANA_DATASOURCE_URL=${GRAFANA_DATASOURCE_HOST}:${GRAFANA_DATASOURCE_PORT}
      - GRAFANA_DATASOURCE_USER=${GRAFANA_DATASOURCE_USERNAME}
      - GRAFANA_DATASOURCE_PASSWORD=${GRAFANA_DATASOURCE_PASSWORD}
      - GRAFANA_DATASOURCE_DBNAME=${GRAFANA_DATASOURCE_DBNAME}
    volumes:
      - ./grafana/storage:/var/lib/grafana
      - ./grafana/provisioning/datasources:/etc/grafana/provisioning/datasources

  proxy:
    image: nginx:alpine
    restart: always
    command: sh -c "while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g \"daemon off;\""
    volumes:
      - matomo:/var/www/html:ro
    ports:
      - "80:80"

volumes:
  matomo:
